/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/header.scss";
@import "./blocks/logo-image.scss";
@import "./blocks/logo-text.scss";
@import "./blocks/burger.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/catalog-nav.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/main-container.scss";
// Программы
@import "./blocks/programs.scss";
@import "./blocks/programs-list.scss";
// Характеристики
@import "./blocks/content-basic.scss";
@import "./blocks/features.scss";
@import "./blocks/features-list.scss";
@import "./blocks/list-reset.scss";
// Пример
@import "./blocks/example.scss";
@import "./blocks/definition-list.scss";
// Сотрудничество
@import "./blocks/content-wrapper.scss";
@import "./blocks/location.scss";
@import "./blocks/catalog-content-wrapper.scss";
//Подвал
@import "./blocks/footer.scss";
@import "./blocks/socials-list.scss";
@import "./blocks/developer.scss";
//Каталог
@import "./blocks/catalog-container.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/card.scss";
@import "./blocks/button.scss";
//Доп товары
@import "./blocks/extra-goods.scss";
//Акции и новинки
@import "./blocks/promotion.scss";
@import "./blocks/promotion-form.scss";
