.burger {
border: none;
background: transparent;
position: relative;
}

.burger__line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  font-size: 0;
  color: transparent;
  position: relative;
  cursor: pointer;
}

.burger__line::before {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  right: 0;
  top: -8px;
  z-index: 1;
}

.burger__line::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  right: 0;
  bottom: -8px;
  z-index: 1;
}

.burger__underline {
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  top: 66px;
  right: auto;
  justify-self: center;
}
