.button {
  background-color: transparent;
}

.button--primary {
  background-color: $basic-green;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
