.button {
  background-color: #ffffff;
}

.button--primary {
  background-color: $basic-green;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
text-transform: uppercase;
padding: 10px 109px;
border: none;
width: 280px;
margin: 0 auto 25px;
}
