.card {
  position: relative;
  margin: 0;
  min-height: 209px;

  &::before {
    content: "";
    position: absolute;
    left: -50vw;
    width: 100vw;
    background-color: #ebebeb;
    height: 1px;
    box-shadow: 100vw 0 0 0 #ebebeb;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 324px;
    min-height: 430px;
    background-color: #f2f2f2;
    margin-right: 0;

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
    min-height: 430px;
    width: 245px;
    background-color: #f2f2f2;
    margin-right: 0;
    position: relative;
    margin-bottom: 65px;
  }
}

.card:last-child {
  min-height: 207px;
  background-image: url("../../icons/plus-mobile.svg");
  background-size: 30px 30px;
  background-position: 145px 25px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    width: 324px;
    background-color: #ffffff;
    background-size: 60px 60px;
    background-position: 50% 50px;
    background-image: url("../../icons/plus-tablet-desktop.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../icons/plus-tablet-desktop.svg");
    width: 245px;
    background-position: 50% 50px;
  }
}

.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 430px;
  }
}

.card-wrapper__picture {
  display: block;
}

.card__wrapper-link {
  width: 50%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
  }
}

.card:nth-child(even) .card__wrapper-link {
  top: -71px;
}

.card__wrapper-image {
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 161px;
    min-height: 171px;
  }
}

.card__content {
  width: 50%;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
  }
}

.card__content-link {
  text-decoration: none;

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}

.card__content-title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 140px auto 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }
}

.card__list {
  width: 140px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 0 20px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    padding: 0;
    margin: 0 auto;
  }
}

.card__list-wrapper {
  width: 144px;
  min-height: 16px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 20px;
    margin-bottom: 11px;
    border-bottom: 1px solid #cdcdcd;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    min-height: 17px;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 5px;
  }
}

.card__list-term {
  background-color: transparent;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 1px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 2px 2px;
    padding: 0 0 4px;
  }
}

.card__list-definiton {
  margin: 0;
  text-align: right;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card .button--primary {
  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    margin: 0 auto;
    padding: 10px 20px;
    position: absolute;
    bottom: 40px;
    left: 23px;
  }
}

.card .button--primary:hover {
  background-color: #5eaa2f;
  cursor: pointer;
}

.card .button--primary:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.card__more-products {
  margin: 0 auto;
  text-align: center;
}

.card__more-products-wrapper {
  margin: -4px 0 26px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 158px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 166px auto 0;
  }
}

.card__more-products-header {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 82px 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin: -11px auto 26px;
  }
}

.card__more-products-content {
  font-family: $main-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0 0 -7px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin: 0 auto 93px;
  }
}

.card__more-products-link {
  background-color: $basic-grey;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    max-width: 250px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
    max-width: 169px;
  }
}

.card__more-products-link:hover {
  background-color: #ebebeb;
}

.card__more-products-link:active {
  background-color: #ebebeb;
}
