.card {
  border-top: 1px solid #ebebeb;
  margin: 0;
  height: 209px;
}

.card:last-child {
  height: 207px;
    background-image: url("../../icons/plus-mobile.svg");
  background-size: 30px 30px;
  background-position: 145px 25px;
  background-repeat: no-repeat;
}

.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
}

.card-wrapper__picture {
  display: block;
}

.card__wrapper-link {
  background-color: #ffffff;
  width: 50%;
  display: block;
}

.card__wrapper-image {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
}

.card__content {
  background-color: #ffffff;
  width: 50%;
}

.card__content-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  margin: 0;
  max-width: 76px;
}

.card__list {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
  margin: 0 0 17px;

  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: 16px 16px 16px;
}

.card__list-term {
  background-color: #ffffff;
}

.card__list-definiton {
  margin: 0;
  text-align: right;
}

.card__more-products {
  margin: 0 auto;
  text-align: center;
  // background-image: url("../../icons/plus-mobile.svg");
  // background-size: 30px 30px;
  // background-position: 145px 25px;
  // background-repeat: no-repeat;
}

.card__more-products-wrapper {
  margin: 78px 0 21px;
}

.card__more-products-header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}

.card__more-products-content {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card__more-products-link {
  background-color: $basic-grey;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 95px;
}
