.catalog {
  background-color: #ffffff;
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog-list__card {
  background-color: #ffffff;
}

.catalog .button--primary {
  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin: 0 37px 40px;
  }
}
