.catalog {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    width: 1220px;
    margin-bottom: 23px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog-list__card {
  background-color: #ffffff;
}

.catalog .button--primary {
  @media (min-width: $tablet-width) {
    max-width: 250px;
    margin: 0 37px 40px;
  }
}
