.catalog-content-wrapper {
  display: flex;
  width: 280px;
  padding: 26px 0;
  background-color: #f2f2f2;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: 628px;
    margin: 0 auto;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    width: 407px;
    padding: 60px 78px 62px;
  }
}

.catalog-content-wrapper__header {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    color: #111111;
    width: 163px;
    padding: 0;
    margin-right: 308px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    color: #111111;
    width: 163px;
    padding: 0;
    margin-right: 86px;
  }
}

.catalog-content-wrapper__address-block {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.catalog-content-wrapper__address {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    min-width: 157px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
