.catalog-container {
  background-color: transparent;
}

.catalog-container__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
