.content-wrapper {
  display: flex;
  padding: 26px 20px;
}

@media (min-width: $tablet-width) {.content-wrapper {justify-content: space-between;}}

.content-wrapper__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {.content-wrapper__header {width: 163px;}}

.content-wrapper__address {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

@media (min-width: $tablet-width) {.content-wrapper__address {width: 163px;}}
