.definition-list {
  width: 271px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    gap: 43px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 76px;
    margin-bottom: 56px;
  }
}

.definition-list__wrapper {
  min-width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
  }
}

.definition-list__wrapper:nth-child(2) {
  margin-left: 0;
}

.definition-list__term {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  display: block;
  margin: 14px 0 0 -6px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 10px;
    margin: 0;
  }
}

.definition-list__content {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  position: absolute;
  top: 46px;
  left: 22px;
  width: 77px;
  min-height: 24px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    top: 60px;
    left: 15px;
    min-width: 125px;
    padding-left: 4px;
    padding-right: 4px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    top: 63px;
  }
}
