.developer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.developer__link {
  background-color: $basic-grey;
  text-decoration: none;
  display: block;
}

.developer__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.developer__logo {
  display: block;
}

.developer__logo:hover {
  fill: #68b738;
  color: #68b738;
}

.developer__logo:active {
  fill: rgba(104, 183, 56, 0.3);
  color: rgba(104, 183, 56, 0.3);
}
