.example {
  @media (min-width: $mobile-width) {
    background-color: #eaeaea;
    padding: 25px 20px 0;
    margin: 0;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100vw;
  }
}

.example__block-wrapper {
  @media (min-width: $mobile-width) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.example::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100vw;
    height: 462px;
    background-color: #eaeaea;
    margin-top: -368px;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
    height: 462px;
    margin-top: -440px;
    background-color: #f2f2f2;
  }
}

.example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    padding: 0;
    margin-bottom: 180px;
    min-width: 325px;
  }
}

.example__content {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 55px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-left: 110px;
    padding: 0;
  }
}

.example__list-wrapper {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 110px;
    padding: 0;
  }
}

.example__list {
  margin: 0 0 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 174px;
    text-align: right;
    margin-top: 12px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 436px;
    margin: 0;
    margin-left: 110px;
  }
}

.example__slider-wrapper {
  display: flex;
  flex-direction: row;
  width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    margin: 0 auto;
    margin-left: 104px;
    margin-top: -10px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 770px;
  }
}

.example__before-wrapper {
  width: 280px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.example__slider-before {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 0% 29%, #eaeaea 29% 100%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(#ffffff 0% 22%, #f2f2f2 22% 100%);
  }
}

.example__slider-control-wrapper {
  position: relative;
  z-index: 5;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.example__slider-control {
  position: absolute;
  top: 108px;
  left: -20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 236px;
    left: -17px;
  }
}

.example__slider-control rect {
  stroke: #666666;
}

.example__slider-control path {
  fill: #666666;
}

.example__slider-control-block {
  width: 5px;
}

.example__slider-control-block:hover {
  .example__slider-control-wrapper {
    background-color: $basic-green;
    cursor: pointer;
  }

  .example__slider-control rect {
    stroke: #68b738;
  }

  .example__slider-control path {
    fill: #68b738;
  }
}


.example__slider-control-block:active {
  .example__slider-control-wrapper {
    background-color: rgba(94, 170, 47, 0.6);
  }

  .example__slider-control rect {
    stroke: rgba(94, 170, 47, 0.6);
  }

  .example__slider-control path {
    fill: rgba(94, 170, 47, 0.6);
  }
}

.example__after-wrapper {
  width: 280px;
  margin-left: -140px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-left: -280px;
  }
}

.example__slider-after {
  background: transparent;
}
