.example {
  background-color: #eaeaea;
  padding: 25px 0 36px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100%;
    margin: -12px 0 0;
  }
}

.example__block-wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    display: flex;
  }
}

.example::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100vw;
    height: 462px;
    background-color: #eaeaea;
    margin-top: -363px;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
    height: 462px;
    margin: 0;
    margin-top: -497px;
    background-color: #f2f2f2;
  }
}

.example__header {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 58px;
    margin-left: 0;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    padding: 0;
    min-width: 325px;
    margin-bottom: 122px;
  }
}

.example__content {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 0 57px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-left: 110px;
    padding: 0;
    padding-top: 27px;
  }
}

.example__wrapper {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 737px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 84px;
    padding: 0;
    margin-left: 12px;
    margin-top: 67px;
  }
}

.example__list-wrapper {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 110px;
    padding: 0;
  }
}

.example__list {
  margin: 0 0 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__cost-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    width: 175px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    margin-left: 100px;
  }
}

.example__cost {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    margin: 3px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 436px;
    margin: 0;
  }
}

.example__slider-wrapper {
  display: flex;
  flex-direction: row;
  width: 280px;
  position: relative;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 560px;
    margin: -14px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 228px;
  }
}

.example__before-wrapper {
  width: 280px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-left: -2px;
  }
}

.example__slider-before {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 0% 29.5%, #eaeaea 29% 100%);
  }

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.example__slider-control-wrapper {
  position: relative;
  z-index: 5;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.example__slider-control {
  position: absolute;
  top: 108px;
  left: -18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 236px;
    left: -17px;
  }
}

.example__slider-control rect {
  stroke: #666666;
}

.example__slider-control path {
  fill: #666666;
}

.example__slider-control-block {
  width: 5px;
}

.example__slider-control-block:hover {
  .example__slider-control-wrapper {
    background-color: $basic-green;
    cursor: pointer;
  }

  .example__slider-control rect {
    stroke: #68b738;
  }

  .example__slider-control path {
    fill: #68b738;
  }
}

.example__slider-control-block:active {
  .example__slider-control-wrapper {
    background-color: rgba(94, 170, 47, 0.6);
  }

  .example__slider-control rect {
    stroke: rgba(94, 170, 47, 0.6);
  }

  .example__slider-control path {
    fill: rgba(94, 170, 47, 0.6);
  }
}

.example__after-wrapper {
  width: 280px;
  margin-left: -140px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-left: -280px;
  }
}

.example__slider-after {
  background: transparent;
}
