.example {
  background-color: transparent;
}

.example__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__content {
  background-color: transparent;
}

.example__wrapper {
  background-color: transparent;
}

.example__list {
  background-color: transparent;
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.example__slider-before {
  background-color: transparent;
}

.example__slider-after {
  background-color: transparent;
}
