.extra-goods {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.extra-goods::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 33px;

  @media (min-width: $tablet-width) {
    left: 0;
    top: -1px;
    background-color: $basic-green;
    padding: 0;
  }
}

.extra-goods__block {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    // margin-left: 110px;
  }
}

.extra-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
}

.extra-goods__header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  position: relative;
}

.extra-goods__header {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding: 0 40px 0 20px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 35px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 0 40px;
    margin: 0;
    margin-top: -18px;
    margin-bottom: 80px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 85px;
    margin-left: -39px;
  }
}

.extra-goods__list {
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    width: 708px;
    min-height: 556px;
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    border: none;
    width: 898px;
    min-height: 288px;
    margin: 0;
    margin-bottom: 115px;
    padding: 0;
  }
}

.extra-goods__item {
  margin: 0;
  padding: 0;
  min-height: 98px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 894px;
    min-height: 72px;
    display: flex;
    justify-content: flex-start;
  }
}

.extra-goods__item:last-child {
  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-top: -6px;
  }
}

.extra-goods__item:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  margin-bottom: 13px;
  position: absolute;
  top: 0;
  left: 0;
}

.extra-goods__item::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: #cdcdcd;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.extra-goods__item .button--primary {
  width: 280px;
  margin: 0 20px 18px 0;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
    margin-bottom: 26px;
    margin-left: 17px;
    display: block;
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
    width: 240px;
    margin: 0;
    display: block;
  }
}

.extra-goods__item .button--primary:hover {
  background-color: #5eaa2f;
  cursor: pointer;
}

.extra-goods__item .button--primary:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.extra-goods__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
    margin-left: 18px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 161px;
    margin-right: 164px;
  }
}

.extra-goods__main {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  margin: 13px 0 15px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 49px;
    margin-top: 22px;
    margin-right: 62px;
    padding: 0;
    min-width: 141px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 45px;
    display: flex;
  }
}

.extra-goods__term {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
    width: 145px;
  }
}

.extra-goods__price {
  margin: 0;

  @media (min-width: $desktop-width) {
    width: 90px;
    text-align: right;
  }
}

.extra-goods__offer {
  width: 280px;
  min-height: 290px;
  background-image: url("../../images/catgift-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 32px auto 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 200px;
    background-image: url("../../images/catgift-tablet@1x.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    background-image: url("../../images/catgift-desktop@1x.jpg");
    margin: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 46px;
  }
}

@media (min-resolution: 2dppx), (min-width: $mobile-width) {
  .extra-goods__offer {
    background-image: url("../../images/catgift-mobile@2x.jpg");
  }
}

@media (min-resolution: 2dppx), (min-width: $tablet-width) {
  .extra-goods__offer {
    background-image: url("../../images/catgift-tablet@2x.jpg");
  }
}

@media (min-resolution: 2dppx), (min-width: $desktop-width) {
  .extra-goods__offer {
    background-image: url("../../images/catgift-desktop@2x.jpg");
  }
}

.extra-goods__offer::before {
  content: "";
  min-height: 290px;
  width: 280px;
  background-color: rgba(104, 183, 56, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.extra-goods__offer::after {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../../icons/icon-gift-mobile.svg");
  margin: 0 auto;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/icon-gift-tablet-desktop.svg");
    background-size: 80px 83px;
    width: 80px;
    height: 83px;
    margin: 0 264px 0 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 15px;
  }
}

.extra-goods__icon {
  background-color: transparent;
}

.extra-goods__content {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 161px;
  margin: 48px auto 43px;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;
  }
}
