.features-list {
  background-color: #ffffff;

}

.features-list__item {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px 60px;
}

.features-list__item--nutrition {
  background-image: url("../../icons/stack.svg#icon-nutrition-mobile");
}

.features-list__item--form {
  background-image: url("../../icons/stack.svg#icon-form-mobile");
}

.features-list__item--meal {
  background-image: url("../../icons/stack.svg#icon-meal-mobile");
}

.features-list__item--time {
  background-image: url("../../icons/stack.svg#icon-time-mobile");
}

.features-list__content {
  background-color: #ffffff;

}
