.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 38px 153px;
    width: 708px;
    position: relative;
    margin-bottom: 35px;
    margin-left: 30px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    gap: 77px;
    margin-left: 0;
    margin-bottom: 76px;
    padding: 0 110px;
    width: 100%;
  }
}

.features-list__item {
  background-repeat: no-repeat;
  background-size: 60px 65px;
  margin: 0;
  background-position: 0 -7px;
  min-height: 60px;
  position: relative;
  counter-increment: increment 1;

  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 280px;
    background-size: 80px 80px;
    background-position: 0 50px;

    &:after {
      content: counter(increment);
      font-weight: 400;
      font-family: $secondary-font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.features-list__item--nutrition {
  background-image: url("../../icons/icon-nutrition-mobile.svg");
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 17px;
  }
}

.features-list__item--form {
  background-image: url("../../icons/icon-form-mobile.svg");
  margin-right: 2px;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.features-list__item--meal {
  background-image: url("../../icons/icon-meal-mobile.svg");

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.features-list__item--time {
  background-image: url("../../icons/icon-time-mobile.svg");

  @media (min-width: $tablet-width) {
    width: 242px;
  }
}

.features-list__content {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 159px;
    margin-left: 0;
    min-width: 240px;
    position: relative;
    z-index: 1;
  }
}
