.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0;
  margin-left: -8px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 38px 153px;
    width: 708px;
    position: relative;
    margin-bottom: 35px;
    margin-left: 30px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 1330px;
    gap: 77px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.features-list__item {
  background-repeat: no-repeat;
  background-size: 60px 65px;
  margin: 0;
  background-position: 0 -7px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 280px;
    background-size: 80px 80px;
    background-position: 0 50px;
  }
}

.features-list__item--nutrition {
  background-image: url("../../icons/icon-nutrition-mobile.svg");
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 17px;
  }
}

.features-list__item--nutrition::after {
  @media (min-width: $tablet-width) {
    content: "1";
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
    position: absolute;
    top: 10px;
    left: 120px;
    z-index: 0;
  }
}

.features-list__item--form {
  background-image: url("../../icons/icon-form-mobile.svg");
  margin-right: 2px;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.features-list__item--form::after {
  @media (min-width: $tablet-width) {
    content: "2";
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
    position: absolute;
    top: 10px;
    right: 79px;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    left: 436px;
  }
}

.features-list__item--meal {
  background-image: url("../../icons/icon-meal-mobile.svg");

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.features-list__item--meal::after {
  @media (min-width: $tablet-width) {
    content: "3";
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
    position: absolute;
    bottom: -10px;
    left: 118px;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    left: 764px;
  }
}

.features-list__item--time {
  background-image: url("../../icons/icon-time-mobile.svg");

  @media (min-width: $tablet-width) {
    width: 242px;
  }
}

.features-list__item--time::after {
  @media (min-width: $tablet-width) {
    content: "4";
    font-weight: 400;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: $basic-grey;
    position: absolute;
    bottom: -10px;
    right: 76px;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    left: 1088px;
  }
}

.features-list__content {
  margin-bottom: 0;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 162px;
    margin-left: 0;
    min-width: 240px;
    position: relative;
    z-index: 1;
  }
}
