.footer {
  background-color: $basic-grey;
}

.footer__logo-link {
  background-color: #ffffff;

}

.footer__socials-list {
  background-color: #ffffff;

}

.footer__developer {
  background-color: #ffffff;

}
