.footer {
  @media (min-width: $mobile-width) {
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.footer__wrapper {
  background-color: $basic-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 120px;
    align-items: center;
    padding: 60px 30px 55px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    padding: 66px 110px;
  }
}

.footer__logo-link-wrapper::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin: 20px auto 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__logo-link {
  display: block;
  margin: 0 auto;
}

.footer__logo-text {
  display: block;
  margin: 0 auto;
}

.footer__logo-text:hover {
  opacity: 80%;
}

.footer__logo-text:active {
  opacity: 60%;
}

.footer__socials-list {
  background: transparent;
}

.footer__developer {
  background: transparent;
}
