.footer {
  background-color: $basic-grey;
}

.footer__logo-link {
  background-color: transparent;
}

.footer__socials-list {
  background-color: transparent;
}

.footer__developer {
  background-color: transparent;
}
