.footer {
  @media (min-width: $mobile-width) {
    background-color: $basic-grey;
    padding-bottom: 40px;
    margin-left: -18px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 74px;
  }
}

.footer__wrapper {
  @media (min-width: $mobile-width) {
    width: 280px;
    background-color: $basic-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0 0;
    gap: 20px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 120px;
    align-items: center;
    padding: 55px 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    padding: 66px 110px 0;
  }
}

.footer__logo-link-wrapper::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin: 20px auto 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__logo-link {
  display: block;
  margin: 0 auto;
}

.footer__logo-text {
  display: block;
  margin: 0 auto;
}

.footer__logo-text:hover {
  opacity: 80%;
}

.footer__logo-text:active {
  opacity: 60%;
}

.footer__socials-list {
  background: transparent;
}

.footer__developer {
  background: transparent;
}
