.footer {
  @media (min-width: $mobile-width) {
    width: 100vw;
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    width: 100vw;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
  }
}

.footer__wrapper {
  @media (min-width: $mobile-width) {
    width: 320px;
    background-color: $basic-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0;
    gap: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 55px 30px;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
    padding: 66px 110px;
  }
}

.footer__logo-link-wrapper::after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  margin: 20px auto 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__logo-link {
  display: block;
  margin: 0 auto;
}

.footer__logo-text {
  display: block;
  margin: 0 auto;
}

.footer__logo-text:hover {
  opacity: 80%;
}

.footer__logo-text:active {
  opacity: 60%;
}

.footer__socials-list {
  background: transparent;
}

.footer__developer {
  background: transparent;
}
