.header {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 25px 30px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: space-between;
    padding: 55px 0 30px;
  }
}

.header__wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 14px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    min-height: 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    vertical-align: center;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.header__logo-wrapper:hover {
  @media (min-width: $desktop-width) {
    opacity: 80%;
  }
}

.header__logo-wrapper:active {
  @media (min-width: $desktop-width) {
    opacity: 60%;
  }
}

.header__logo-link {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
