.location {
  background-color: transparent;
}

.location__content-wrapper {
  background-color: transparent;
}

.location__map {
  background-color: transparent;
}

.location__map-image {
  background-color: transparent;
}
