.location {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
}

.location__block {
  width: 100%;
}

.location__content {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 1220px;
  }
}

.location__wrapper {
  @media (min-width: $mobile-width) {
    margin: 0 auto;
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1440px;
  }
}

.location__content-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    gap: 87px;
    position: absolute;
    top: 92px;
    z-index: 5;
    max-width: 565px;
    padding: 60px 79px;
  }
}

.location__map {
  background-image: url("../../images/map-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 362px;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/map-tablet@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/map-desktop@1x.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    position: static;
  }
}

@media (min-resolution: 2dppx) {
  .location__map {
    background-image: url("../../images/map-mobile@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../../images/map-tablet@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../images/map-desktop@2x.jpg");
    }
  }
}

.location__map-pin-wrapper {
  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.location__map picture {
  display: block;
  margin: 0 auto;
}

.location__mappin-image {
  display: block;
  position: absolute;
  top: 46%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 50.6%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: $desktop-width) {
    top: 43%;
    left: 66%;
    transform: translate(-50%, -50%);
  }
}
