.location {
  margin-top: 15px;
}

.location__content-wrapper {
}

.location__catalog {
  background-color: #f2f2f2;
  padding-bottom: 26px;
}

.location__map {
  background-image: url("../../images/map-mobile@2x.jpg");
  background-size: 320px 362px;
  width: 320px;
  height: 362px;
  position: relative;
 }

.location__map-image {
  background-color: #ffffff;
  display: block;
}

.location__mappin-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
