.location {
  background-color: #ffffff;

}

.location__content-wrapper {
  background-color: #ffffff;

}

.location__map {
  background-color: #ffffff;

}

.location__map-image {
  background-color: #ffffff;

}
