.main-container {
  padding-top: 27px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }
}
