.main-nav {

}
.main-nav__wrapper {

}

.main-nav__list {


}

.main-nav__item {
  background-color: #ffffff;

}

.main-nav__item--current {
  background-color: #ffffff;

}

.main-nav__item-link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
