.main-nav {
  background-color: transparent;
  position: absolute;
  display: none;

  &--no-js {
    position: static;
    width: 100vw;
    z-index: 5;
    background-color: $white;
    display: block;

    @media (min-width: $tablet-width) {
      background-color: unset;
    }
  }

  &--no-js .main-nav__toggle {
    display: none;
  }

  &--no-js .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  &--no-js .main-nav__list {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--opened {
    position: absolute;
    top: 98%;
    left: 0;
    z-index: 5;
    width: 100vw;
    display: block;
  }

  &--opened .main-nav__wrapper {
    z-index: 5;
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    width: 440px;
    position: static;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
    position: static;
  }
}

.main-nav--opened .main-nav__toggle {
  top: -36px;
  left: auto;
  right: 16px;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    margin-left: 0;
    max-width: 475px;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin: 0;
    padding: 0;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 3;
    width: 475px;
    gap: 32px;
    padding: 0;
  }
}

.main-nav__catalog-list {
  @media (min-width: $desktop-width) {
    padding-top: 8px;
  }
}

.main-nav__list--opened-menu {
  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    border-top: 1px solid #e6e6e6;
  }
}

.main-nav__list--nojs {
  @media (min-width: $mobile-width) {
    position: static;
    z-index: 5;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 33px;
    margin: 0;
    padding: 0;
    border: none;
    margin-top: -39px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 3;
    width: 475px;
    gap: 32px;
    background-color: transparent;
  }
}

.main-nav__toggle {
  cursor: pointer;
  border: none;
  z-index: 2;
  display: block;
  height: 24px;
  width: 24px;
  background-color: transparent;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  &--no-js {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__item:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    position: absolute;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.main-nav__catalog-list .main-nav__item-link {
  color: #111111;
}

.main-nav__catalog-list .main-nav__item--current::after {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
  }
}

.main-nav__item-link {
  position: relative;
  display: block;
  color: #000000;
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 0 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 10px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}

.main-nav__item-link:hover {
  @media (min-width: $tablet-width) {
    color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.6);
  }
}

.main-nav__catalog-list .main-nav__item-link:hover {
  @media (min-width: $desktop-width) {
    color: rgba(0, 0, 0, 0.6);
  }
}

.main-nav__item-link:active {
  @media (min-width: $tablet-width) {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $desktop-width) {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__catalog-list .main-nav__item-link:active {
  @media (min-width: $desktop-width) {
    color: rgba(0, 0, 0, 0.3);
  }
}
