.page {
  overflow-x: hidden;
  background-color:lightblue;
}

.page__body {
  background-color: transparent;
  width: 320px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    background-color: transparent;
  }
}
