.page {
  background-color: $basic-grey;
  overflow-x: hidden;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
