.page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: pink;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    background-color: transparent;
  }
}
