.programs-wrapper {
  width: 320px;
  background-image: url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    min-width: 768px;
    text-align: left;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1330px;
  }
}

.programs-wrapper::before {
  content: "";
  width: 100vb;
  height: 305px;
  background-color: rgba(104, 183, 56, 0.85);
  position: absolute;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 720px;
    height: 694px;
    top: -224px;
    left: 590px;
  }
}

.programs-wrapper::after {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    width: 720px;
    height: 694px;
    background-image: url("../../images/index-background-desktop@1x.jpg");
    position: absolute;
    top: -224px;
    right: 20px;
  }
}
