.programs {
  position: relative;
  width: 100%;
  margin-top: -28px;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    min-height: 551px;
  }
}

.programs::before {
  content: "";
  width: 100vw;
  height: 303px;
  background:
    linear-gradient(
      90deg,
      $mob-gradient-green1,
      $mob-gradient-green2
    );
  position: absolute;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 50%;
    height: 694px;
    top: -144px;
    left: 50%;
    background:
      linear-gradient(90deg, #68b738d9 1036px, #62a53b 1040px),
      image-set(
        url("../../images/index-background-desktop@1x.jpg") 1x,
        url("../../images/index-background-desktop@2x.jpg") 2x
      );
    background-size: cover, 1040px 694px;
    background-position: left, left bottom;
    background-repeat: no-repeat, no-repeat;
  }
}

.programs__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  background-image:
    image-set(
      url("../../images/index-background-mobile@1x.jpg") 1x,
      url("../../images/index-background-mobile@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
    max-width: 708px;
    text-align: left;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.programs__header {
  color: #ffffff;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 26px 0;
  text-align: center;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 420px;
    padding: 0;
    margin: 0 0 40px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
    width: 500px;
  }
}

.programs__slogan {
  color: #ffffff;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 3;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 50px 90px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    margin: 0;
  }
}

.programs__image {
  display: block;
  margin: 0 auto 4px;
  position: relative;
  z-index: 4;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin-top: -28px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    left: 557px;
    top: 0;
    margin: 0;
  }
}

.programs__link {
  background-color: $basic-green;
  color: #ffffff;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 231px;
    left: 90px;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    left: 190px;
    top: 313px;
  }
}

.programs__link:hover {
  background-color: #5eaa2f;
}

.programs__link:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
