.programs {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.programs__header {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 auto 25px;
  padding: 27px 36px 0;
  min-width: 250px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 420px;
    min-height: 120px;
    margin: 0;
    margin-left: 90px;
    margin-bottom: 40px;
    padding: 0;
  }
}

.programs__slogan {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 auto 29px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: 90px;
    margin-bottom: 50px;
    text-align: left;
  }
}

.programs__image {
  display: block;
  margin: 0 auto 3px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 709;
    height: 609;
    margin: -21px 10px;
  }
}

.programs__link {
  background-color: $basic-green;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 63px;
  display: block;
  margin: 0 auto 20px;
  width: 154px;

  @media (min-width: $tablet-width) {
    width: 192px;
    padding: 14px 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 225px;
    left: 90px;
    z-index: 1;
  }
}
