.programs-wrapper {
  width: 320px;
  background-image: url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    min-width: 768px;
    text-align: left;
    position: relative;
  }
}

.programs__background-layer {
  width: 320px;
  height: 302px;
  background-color: rgba(#68b738, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
