.promotion {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.promotion::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 48px;

  @media (min-width: $tablet-width) {
    left: 0;
    top: -1px;
    background-color: $basic-green;
    padding: 0;
  }
}

.promotion__block {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.promotion__header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 200px;
  margin-left: -78px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 0;
    margin-top: -1px;
  }
}

.promotion__header {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 43px 0 16px -22px;
  padding-right: 38px;
  padding-left: 20px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 0 40px;
    margin: 0;
    margin-top: -18px;
    margin-bottom: 66px;
    margin-left: 30px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: -18px 0 0 -35px;
    padding: 0 40px;
  }
}

.promotion__content {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  width: 280px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 24px;
    // margin-left: -61px;
  }
}

.promotion__form {
  background: transparent;
}

.promotion .button--primary {
  padding: 15px 20px;
  width: 280px;
  margin-bottom: 42px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
