.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.promotion__header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.promotion__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 40px 40px 16px 20px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding: 40px 0;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }
}

.promotion__header::after {
  content: "";
  background-color: #68b738;
  min-width: 30%;
  height: 2px;
  padding: 0;
  display: block;
  position: absolute;
  top: 52px;
  right: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.promotion__content {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  width: 280px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    margin-top: 72px;
    margin-left: -110px;
    margin-bottom: 24px;
  }
}

.promotion__form {
  background: transparent;
}

.promotion .button--primary {
  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
