.promotion-form {
  background: transparent;

  @media (min-width: $tablet-width) {
    width: 632px;
    display: flex;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
    margin: 0 auto;
    margin-bottom: 104px;
  }
}

.promotion-form__input {
  border: 1px solid #cdcdcd;
  width: 280px;
  min-height: 56px;
  padding: 13px;
  margin: 0 20px 16px;
  font-weight: 400;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.promotion-form__input:focus {
  border: 2px solid #444444;
}

.promotion-form__input:invalid {
  border: 2px solid #ff8282;
}

.promotion-form__input[placeholder] {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  box-sizing: border-box;
}

.promotion-form .button--primary {
  min-height: 56px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 15px 20px;
  }
}

.promotion-form .button--primary:hover {
  cursor: pointer;
  background-color: #5eaa2f;
}

.promotion-form .button--primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
