.promotion {
  background-color: #ffffff;

}

.promotion__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.promotion__content {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.promotion__form {
  background-color: #ffffff;

}
